body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}

header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ce2829;
}

.header-container {
  width: 50%;
  background-color: #ce28c6;
  padding: 1rem;
  box-sizing: border-box;
}

section {
  height: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db368;
}

.section-container {
  width: 50%;
  background-color: rgb(185, 187, 44);
  padding: 1rem;
  box-sizing: border-box;
}

h2 {
  text-align: left;
}

.bilgi {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.section-container p {
  text-align: left;
}

.form-boyut-kalınlık {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.boyut-form {
  text-align: left;
  padding-bottom: 1rem;
}

.kalınlık-form {
  text-align: left;
}

.form-malzemeler {
  margin-top: 2rem;
  text-align: left;
}

.malzemeler {
  display: flex;
  flex-wrap: wrap;
}

.malzeme {
  width: 33%;
  padding: 0.5rem 0;
  box-sizing: border-box;
}
.small {
  font-size: 0.8rem;
  display: block;
  padding-top: 0.5rem;
}
.not-form {
  display: flex;
  flex-direction: column;
}
.not-label {
  text-align: left;
  padding: 0.5rem 0;
}
@media only screen and (max-width: 600px) {
  .header-container,
  .section-container {
    width: 100%;
  }
  .malzeme {
    width: 50%; /* Desktop'ta en fazla 5 adet alt alta */
  }
}
