body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  padding: 0;
}
h1 {
  font-family: "Roboto Condensed";
  color: white;
}
.bold {
  font-weight: bold;
}
button {
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #fdc913;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s;
}
button:hover {
  background-color: #2b2db4;
}
/* header {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #ce2829;
} */

.header-container {
  width: 40%;

  padding: 1rem;
  box-sizing: border-box;
}

section {
  height: calc(100% - 10rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto Condensed";
}

.section-container {
  width: 40%;

  padding: 1rem;
  padding-top: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.info {
  background-color: #faf7f2;
}
h2 {
  text-align: left;
}

.bilgi {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.section-container p {
  text-align: left;
}
form {
  display: flex;
  flex-direction: column;
}
.form-boyut-kalınlık {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 0.5rem;
}

.radio-label {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.radios {
  display: flex;
  padding-top: 1rem;
}
input[type="radio"] {
  appearance: none; /* Hides default radio button appearance */
  width: 2rem; /* Radio button size */
  height: 2rem; /* Radio button size */
  border: 2px solid #ccc; /* Radio button border */
  border-radius: 50%; /* Radio button shape */
  cursor: pointer; /* Pointer cursor on hover */
  /* Transition effect for background color */
}
input[type="radio"]:checked {
  background-color: #fdc913; /* Yellow background color for checked radio button */
  border-color: #fdc913; /* Yellow border color for checked radio button */
}
.boyut-label {
  margin-left: 5px; /* Spacing between radio button and label */
  font-size: 14px; /* Label font size */
}
.boyut-form {
  display: flex; /* Arrange radio buttons in a row */
  flex-direction: column; /* Align radio buttons horizontally */
  margin-bottom: 15px; /* Spacing between radio groups */
}
.boyut-form {
  text-align: left;
  padding-bottom: 1rem;
}

select {
  appearance: none;
  width: 150px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 14px;
  cursor: pointer;
  background-color: #faf7f2;
  margin-top: 1rem;
}
.kalınlık-form {
  text-align: left;
}

.form-malzemeler {
  margin-top: 0.5rem;
  text-align: left;
}

.malzemeler {
  display: flex;
  flex-wrap: wrap;
}
input[type="checkbox"] {
  appearance: none;
  width: 2rem;
  height: 2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}
input[type="checkbox"]:checked {
  background-color: #fdc913;
  border-color: #fdc913;
}

.malzeme-label {
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.malzeme {
  width: 33%;
  padding: 0.5rem 0;
  box-sizing: border-box;
  background-color: #faf7f2;
  border-radius: 5px;
}
.form-isim-soyisim {
  text-align: left;
}
input[type="text"] {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin-left: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8rem;
  box-sizing: border-box;
  background-color: #faf7f2;
}
.small {
  font-size: 0.8rem;
  display: block;
  padding-top: 0.5rem;
  color: rgb(165, 165, 165);
}
.form-not {
  margin-top: 0.5rem;
}
textarea {
  background-color: #faf7f2;
}
.not-form {
  display: flex;
  flex-direction: column;
}
.not-label {
  text-align: left;
  padding: 0.5rem 0;
}
.form-adet {
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}
.fiyat-bilgi {
  border: 1px solid #faf7f2;
  padding: 0.5rem;
  background-color: #faf7f2;
}
.zorunlu {
  color: #ce2829;
}
@media only screen and (max-width: 600px) {
  .header-container,
  .section-container {
    width: 100%;
  }
  .malzeme {
    width: 50%;
  }
}
